<!DOCTYPE html>
<html>
<head>
    <title>Admin</title>
</head>
<body>

{% include 'navbar.html' %}

<h1>Add Product</h1>

<form method="POST">

    <input type="text"
           name="name"
           placeholder="Product Name">

    <br><br>

    <input type="number"
           name="price"
           placeholder="Price">
<br><br>
    <input type="text" name="image" placeholder="Image URL">
     <br><br>
    <button type="submit">
        Add Product
    </button>
<a href="/admin-logout">
    <button>Admin Logout</button>
</a>
</form>

<hr>

<h2>Products</h2>

{% for product in products %}

<p>
    {{ product.name }}- ₹{{ product.price }}
    <a href="/edit_product/{{product.id}}">
        <button>Edit</button>
    </a>
    <a href="/delete_product/{{product.id}}">
        <button>Delete</button>
    </a>
</p>

{% endfor %}
</body>
</html>