<!DOCTYPE html>
<html>
<head>
    <title>Cart</title>
</head>
<body>

{% include 'navbar.html' %}

<h1>Your Cart</h1>

<a href="/">Back to Home</a>

<hr>

{% for item in cart %}

<div class="cart-item">

    <img src="{{ item.image }}" width="150">

    <h3>{{ item.product_name }}</h3>

    <p>Price: ₹{{ item.price }}</p>

    <a href="/remove/{{ item.id }}">
        <button>Remove</button>
    </a>

</div>

<hr>

{% endfor %}
<a href="/place_order">
    <button>Place Order</button>
</a>
<a href="/clear_cart">
    <button>Clear Cart</button>
</a>

<h2>Total Bill: ₹{{ total }}</h2>

</body>
</html>