<!DOCTYPE html>
<html>
<head>
    <title>E-Commerce Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{% include 'navbar.html' %}
{% if username %}
    <h2>Welcome {{ username}}</h2>
{% endif %}
<h1>Welcome to My E-Commerce Website</h1>

<div class="top-menu">
    <a href="/register">Register</a>
    <a href="/login">Login</a>
    <a href="/cart">🛒 View Cart({{ cart_count}})</a>
</div>

{% for product in products %}

    
<div class="product">
   
     <h3>{{ product.name }}</h3>
     <p>Price: ₹{{ product.price }}</p>

    <a href="/add/{{ product.id }}">
        <button>Add to Cart</button>
    </a>
</div>

{% endfor %}

</body>
</html>